#umount /media/rprtr258/769084F09084B7DF || true
#sudo mount /dev/$(lsblk --fs | rg ntfs | cut -c7-10) /mnt/hdd
feh --no-fehbg --bg-fill "$HOME/rprtr258/pics/desktop-wallpapers/polina.jpg"
# TODO: shuffle like `$(ls $HOME/rprtr258/pics/desktop-wallpapers/ | shuf | head -n 1)`
#feh --no-fehbg --bg-fill '/mnt/hdd/MEGA/picz/wallpapers/desktop-saturn.jpg' --geometry +0+80
setxkbmap -layout us,ru -option 'grp:alt_shift_toggle' -option 'ctrl:nocaps' -option 'numpad:microsoft'
parcellite &
