configuration {
    modi: [combi,window,drun,run,ssh];
    combi-modi: [window,drun,run,ssh];
    width: 60;
    lines: 20;
    sidebar-mode: true;
    hide-scrollbar: true;
    scroll-method: 1;
    cycle: true;
    font: "Iosevka Nerd Font 10";
    show-icons: true;
    icon-theme: "Papirus";
    disable-history: false;
    fullscreen: false;
}
